.index-card-img-top {
  height: 300px;
  object-fit: cover;
}

.space {
  max-width: 600px;
  margin: 0 auto;
}

.space-search {
  max-width: 600px;;
}
.card-elements {
  background-color: $black;
  color: $white;
}


.card-price {
  font-weight: 600;
}

.card p {
  font-size: 0.6em;
}

.index-item-card {
  box-shadow: 0 0 10px 2px rgba(0, 0, 0, 0.2);
}

.index-item-card:hover {
  box-shadow: 0 0 10px 10px rgba(17, 17, 17, 0.5);
  transition: 0.3s;
}

a {
  text-decoration: none;
}
